<!DOCTYPE html>

<html>
<head>
  <link rel="icon" type="image/jpg" href="favicon.ico">
  <title>Welcome</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=700">

  <link rel="stylesheet" type="text/css" media="screen,print" href="Site.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

  <!-- {% block header_javascript %} -->
  <script type="text/javascript">

    function updateCamera() {
      time = new Date().getTime();
      $('.camera').each(function() {
        var url = $(this).attr('src').replace(/&t=\d*/, '&s='+time);
        $(this).attr('src', url);
      })
    }

    $(document).ready(function() {
      setInterval('updateCamera()',2000);
    });

  </script>
  <!-- {% endblock %} -->
</head>

<body>
  <div id="content_background" style="width: 700px; ">
    <div id="content_borders">
      <header>
        <!-- {% block nav_bar %} -->
        <nav id="navigation_bar">
          <ul class="navbar-list">
            <li class="current-page"><a href="index.html">Welcome</a></li>
            <li><a href="status.html">Status</a></li>
            <li><a href="manage.html">Manage</a></li>
          </ul>
        </nav>

        <div id="site_title">
         <p class="Header">House</p>
        </div>
        <!-- {% endblock %} -->

        <!-- {% block photo %} -->
        <div id="site_photo" style="text-align: center; margin-bottom: 10px">
          <img src="house.png" alt="Side View of House" height="227" width="398" style="border: solid 1px" />
        </div>
        <!-- {% endblock %} -->
      </header>

      <!-- {% block body %} -->
      <div id="links" style="margin-bottom: 10px;">
        <div class="Three_Column" id="column-one">
          <div class="Links_List">
            <p>House</p>
            <ul>
              <li>
                <a href="http://router/" target="_blank">Router</a>
              </li>
              <li>
                <a href="http://core:5000/" target="_blank">Server</a>
              </li>
              <li>
                <a href="http://vera/cmh/" target="_blank">Automation</a>
              </li>
              <li>
                <a href="https://home.nest.com/"  target="_blank">Thermostat</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="Three_Column" id="column-two">
          <div class="Links_List">
            <p>Services</p>
            <ul>
              <li>
                <a href="https://www.pge.com/myenergyweb/appmanager/pge/customer" target="_blank">PG&amp;E</a>
              </li>
              <li>
                <a href="http://my.withings.com/" target="_blank">Weight</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="Three_Column" id="column-three">
          <div class="Links_List">
            <p>Other</p>
            <ul>
              <li>
                <a href="http://don.garrett.name/" target="_blank">don.garrett.name</a>
              </li>
              <li>
                <a href="http://www/deliciouslibrary/" target="_blank">Delicious Library</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="Clear"></div>
      </div>

      <div id="camera_feeds">
        <a href="http://guest@kitchen.dongar.net/" target="_blank" style="float: left">
          <img id="kitchen_live" class="camera" src="http://kitchen/snapshot.cgi?user=guest&pwd=&t=" width="320" height="240">
        </a>
        <a href="http://guest@garage.dongar.net/" target="_blank" style="float: right">
          <img id="garage_live" class="camera" src="http://garage/snapshot.cgi?user=guest&pwd=&t=" width="320" height="240">
        </a>
        <div class="Clear"></div>
      </div>
      <!--  {% endblock %} -->

    </div>
  </div>
</body>
</html>
